section {
  display: grid;
  grid-template-columns: repeat(12, 100px);
  text-align: center;
  grid-column-gap: 5px;
  margin: 5px;
  justify-content: center;
  font-family: 'Arimo', sans-serif;
  color: grey;
}
.top-row > div{
  border-radius: 10px;
  border: 2px solid grey;
}
.top-row {
  align-content: center;
padding-left: 110px;
}

.number-row > div{
  border-radius: 10px;
  border: 2px solid grey;
}
.home-row >div {
  border-radius: 10px;
  border: 2px solid grey;
}
.home-row{
  padding-left: 225px;
}
.bottom-row > div{
  border-radius: 10px;
  border: 2px solid grey;
}
.bottom-row{
  padding-left: 325px;
}
.logo{
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  padding-top: 50px;
}
